form {
  display: flex;
  flex-direction: column;
}

form p {
  margin-bottom: 0.5rem;
}

form input {
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  width: 15rem;
}

form button {
  padding: 0.5rem;
}

form textarea {
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  width: 15rem;
}
